

.App {
  text-align: center;
  background-image: url("/netcatbackground.png");
}

.App-header {
  min-height: 100vh;
  display: flex;
}

.Generic-picture {
  border: 5px solid #FFCB9A;
  border-radius: 45%;
  box-shadow: 5px 5px 10px #D9B08C;
  height: calc(100% - 10px);
}

.Generic-portrait {
  display: block;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  width: 30vw;
}

.Generic-text {
  background-color: #2C3531;
  border: 5px solid #FFCB9A;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #D9B08C;
  color: #D1E8E2;
  font-family: Roboto Slab;
  font-size: 18px;
}

.Generic-text p {
  margin: 20px;
}

.Grid-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  margin: 10px;
}

.Scroll-container {
  position: fixed;
  top: 10%;
  left: 1.5%;
  width: 15vw;
  height: 30vh;
  overflow: scroll;
}

.Scroll-segment {
}