.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Generic-picture {
  border: 5px solid #116466;
  border-radius: 45%;
  height: calc(100% - 10px);
  overflow: hidden;
}

.Generic-portrait {
  display: block;
  height: 30vh;
  padding: 2px;
  text-align: center;
  width: 30vw;
}

.Generic-text {
  background-color: #2C3531;
  border: 5px solid #116466;
  border-radius: 25px;
  color: #FFCB9A;
  font-family: Roboto Slab;
  height: calc(100% - 10px);
  position: relative;
}

.Generic-text p {
  vertical-align: middle;
}

.Grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 25px;
}